#files
.registry-*
.env-local
docker-compose-*.yml

#folders
.vite
dist
resource

# node
node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
logs
*.log
*.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
.nyc_output
coverage
lib-cov
*.lcov

# Others
.idea
.DS_Store

# Boilerplate
_cleanup
_init
