.conf/local.sh
.vite
dist
resource

# node
node_modules

# Lock
pnpm-lock.yaml
package-lock.json

# Logs
logs
*.log
*.log*

# Coverage
coverage/**
!coverage/lcov.info
!coverage/cobertura-coverage.xml
